In [7]:
import polars as pl
csv_file = '../data/yellow_tripdata_2023-02.csv'
parquet_file = '../data/yellow_tripdata_2023-02.parquet'

In [8]:
df = pl.read_parquet(parquet_file)
df.head(2)

shape: (2, 19)
┌──────────┬──────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ VendorID ┆ tpep_pickup_ ┆ tpep_dropoff ┆ passenger_co ┆ … ┆ improvement_ ┆ total_amount ┆ congestion_s ┆ Airport_fee │
│ ---      ┆ datetime     ┆ _datetime    ┆ unt          ┆   ┆ surcharge    ┆ ---          ┆ urcharge     ┆ ---         │
│ i32      ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ f64         │
│          ┆ datetime[ns] ┆ datetime[ns] ┆ i64          ┆   ┆ f64          ┆              ┆ f64          ┆             │
╞══════════╪══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 1        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 2            ┆ … ┆ 1.0          ┆ 9.4          ┆ 2.5          ┆ 0.0         │
│          ┆ 00:32:53     ┆ 00:34:34     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 1            ┆ … ┆ -1.0         ┆ -5.5         ┆ 0.0          ┆ 0.0         │
│          ┆ 00:35:16     ┆ 00:35:30     ┆              ┆   ┆              ┆              ┆              ┆             │
└──────────┴──────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

# Utilizing Column Expression
- using gt() with select
- using eq() with select
- calculating total time travelled
- calculating total distance travelled in km
- finding min, max of trip_distance

In [9]:
(
    df
    .select([
        'VendorID',
        'trip_distance',
        pl.col('trip_distance').gt(0).alias('dist_greater_than_zero')
    ])
    .head()
)

shape: (5, 3)
┌──────────┬───────────────┬────────────────────────┐
│ VendorID ┆ trip_distance ┆ dist_greater_than_zero │
│ ---      ┆ ---           ┆ ---                    │
│ i32      ┆ f64           ┆ bool                   │
╞══════════╪═══════════════╪════════════════════════╡
│ 1        ┆ 0.3           ┆ true                   │
│ 2        ┆ 0.0           ┆ false                  │
│ 2        ┆ 0.0           ┆ false                  │
│ 1        ┆ 18.8          ┆ true                   │
│ 2        ┆ 3.22          ┆ true                   │
└──────────┴───────────────┴────────────────────────┘

In [10]:
(
    df
    .select([
        'VendorID',
        'trip_distance',
        pl.col('trip_distance').eq(0).alias('dist_equals_zero')
    ])
    .head()
)

shape: (5, 3)
┌──────────┬───────────────┬──────────────────┐
│ VendorID ┆ trip_distance ┆ dist_equals_zero │
│ ---      ┆ ---           ┆ ---              │
│ i32      ┆ f64           ┆ bool             │
╞══════════╪═══════════════╪══════════════════╡
│ 1        ┆ 0.3           ┆ false            │
│ 2        ┆ 0.0           ┆ true             │
│ 2        ┆ 0.0           ┆ true             │
│ 1        ┆ 18.8          ┆ false            │
│ 2        ┆ 3.22          ┆ false            │
└──────────┴───────────────┴──────────────────┘

In [11]:
(
    df
    .select([
        'VendorID',
        'tpep_dropoff_datetime',
        'tpep_pickup_datetime',
        (pl.col('tpep_dropoff_datetime') - pl.col('tpep_pickup_datetime')).alias('total_duration_of_travel')
    ])
    .head()
)

shape: (5, 4)
┌──────────┬───────────────────────┬──────────────────────┬──────────────────────────┐
│ VendorID ┆ tpep_dropoff_datetime ┆ tpep_pickup_datetime ┆ total_duration_of_travel │
│ ---      ┆ ---                   ┆ ---                  ┆ ---                      │
│ i32      ┆ datetime[ns]          ┆ datetime[ns]         ┆ duration[ns]             │
╞══════════╪═══════════════════════╪══════════════════════╪══════════════════════════╡
│ 1        ┆ 2023-02-01 00:34:34   ┆ 2023-02-01 00:32:53  ┆ 1m 41s                   │
│ 2        ┆ 2023-02-01 00:35:30   ┆ 2023-02-01 00:35:16  ┆ 14s                      │
│ 2        ┆ 2023-02-01 00:35:30   ┆ 2023-02-01 00:35:16  ┆ 14s                      │
│ 1        ┆ 2023-02-01 01:01:38   ┆ 2023-02-01 00:29:33  ┆ 32m 5s                   │
│ 2        ┆ 2023-02-01 00:25:46   ┆ 2023-02-01 00:12:28  ┆ 13m 18s                  │
└──────────┴───────────────────────┴──────────────────────┴──────────────────────────┘

In [12]:
kilometers_per_mile = 1.61
(
    df
    .select([
        'VendorID',
        pl.col('trip_distance').name.suffix('_in_miles'),
        (pl.col('trip_distance') * kilometers_per_mile).name.suffix('_in_km')
    ])
    .head()
)

shape: (5, 3)
┌──────────┬────────────────────────┬─────────────────────┐
│ VendorID ┆ trip_distance_in_miles ┆ trip_distance_in_km │
│ ---      ┆ ---                    ┆ ---                 │
│ i32      ┆ f64                    ┆ f64                 │
╞══════════╪════════════════════════╪═════════════════════╡
│ 1        ┆ 0.3                    ┆ 0.483               │
│ 2        ┆ 0.0                    ┆ 0.0                 │
│ 2        ┆ 0.0                    ┆ 0.0                 │
│ 1        ┆ 18.8                   ┆ 30.268              │
│ 2        ┆ 3.22                   ┆ 5.1842              │
└──────────┴────────────────────────┴─────────────────────┘

In [16]:
(
    df
    .select([
        pl.col('trip_distance').min().name.suffix('_min'),
        pl.col('trip_distance').max().name.suffix('_max'),
    ])
)

shape: (1, 2)
┌───────────────────┬───────────────────┐
│ trip_distance_min ┆ trip_distance_max │
│ ---               ┆ ---               │
│ f64               ┆ f64               │
╞═══════════════════╪═══════════════════╡
│ 0.0               ┆ 335004.33         │
└───────────────────┴───────────────────┘

# Query Statement - **.filter()**

In [20]:
df.describe()

shape: (9, 20)
┌────────────┬────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ statistic  ┆ VendorID   ┆ tpep_pickup_ ┆ tpep_dropoff ┆ … ┆ improvement_ ┆ total_amount ┆ congestion_s ┆ Airport_fee │
│ ---        ┆ ---        ┆ datetime     ┆ _datetime    ┆   ┆ surcharge    ┆ ---          ┆ urcharge     ┆ ---         │
│ str        ┆ f64        ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ f64         │
│            ┆            ┆ str          ┆ str          ┆   ┆ f64          ┆              ┆ f64          ┆             │
╞════════════╪════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ count      ┆ 2.913955e6 ┆ 2913955      ┆ 2913955      ┆ … ┆ 2.913955e6   ┆ 2.913955e6   ┆ 2.837138e6   ┆ 2.837138e6  │
│ null_count ┆ 0.0        ┆ 0            ┆ 0            ┆ … ┆ 0.0          ┆ 0.0          ┆ 76817.0      ┆ 76817.0     │
│ mean       ┆ 1.731282   ┆ 2023-02-15   ┆ 2023-02-15   ┆ … ┆ 0.981305     ┆ 26.898484    ┆ 2.285299     ┆ 0.096778    │
│            ┆            ┆ 00:38:01.639 ┆ 00:54:02.594 ┆   ┆              ┆              ┆              ┆             │
│            ┆            ┆ 923          ┆ 501          ┆   ┆              ┆              ┆              ┆             │
│ std        ┆ 0.452495   ┆ null         ┆ null         ┆ … ┆ 0.18731      ┆ 21.841097    ┆ 0.760908     ┆ 0.338827    │
│ min        ┆ 1.0        ┆ 2008-12-31   ┆ 2008-12-31   ┆ … ┆ -1.0         ┆ -757.55      ┆ -2.5         ┆ -1.25       │
│            ┆            ┆ 23:05:06     ┆ 23:31:24     ┆   ┆              ┆              ┆              ┆             │
│ 25%        ┆ 1.0        ┆ 2023-02-08   ┆ 2023-02-08   ┆ … ┆ 1.0          ┆ 15.48        ┆ 2.5          ┆ 0.0         │
│            ┆            ┆ 08:43:14     ┆ 08:59:34     ┆   ┆              ┆              ┆              ┆             │
│ 50%        ┆ 2.0        ┆ 2023-02-14   ┆ 2023-02-14   ┆ … ┆ 1.0          ┆ 20.2         ┆ 2.5          ┆ 0.0         │
│            ┆            ┆ 22:33:21     ┆ 22:48:15     ┆   ┆              ┆              ┆              ┆             │
│ 75%        ┆ 2.0        ┆ 2023-02-22   ┆ 2023-02-22   ┆ … ┆ 1.0          ┆ 28.7         ┆ 2.5          ┆ 0.0         │
│            ┆            ┆ 08:34:18     ┆ 08:50:06     ┆   ┆              ┆              ┆              ┆             │
│ max        ┆ 6.0        ┆ 2023-03-07   ┆ 2023-03-07   ┆ … ┆ 1.0          ┆ 2208.1       ┆ 2.75         ┆ 1.25        │
│            ┆            ┆ 13:01:28     ┆ 13:11:17     ┆   ┆              ┆              ┆              ┆             │
└────────────┴────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [37]:
# total null values in passenger_count
null_cnt = (
    df
    .select('passenger_count')
    .null_count()
)
print(null_cnt)

# not null vals, total vals, another way to calc total rows
(
    df
    .select([
        pl.col('passenger_count').count().alias('cnt_without_null'),
        pl.col('passenger_count').len().alias('total_cnt'),
        (pl.col('passenger_count').count() + null_cnt).alias('another_way_to_calc_total_rows')
    ])
)

shape: (1, 1)
┌─────────────────┐
│ passenger_count │
│ ---             │
│ u32             │
╞═════════════════╡
│ 76817           │
└─────────────────┘

shape: (1, 3)
┌──────────────────┬───────────┬────────────────────────────────┐
│ cnt_without_null ┆ total_cnt ┆ another_way_to_calc_total_rows │
│ ---              ┆ ---       ┆ ---                            │
│ u32              ┆ u32       ┆ u32                            │
╞══════════════════╪═══════════╪════════════════════════════════╡
│ 2837138          ┆ 2913955   ┆ 2913955                        │
└──────────────────┴───────────┴────────────────────────────────┘

# Fraction of records having zero count passengers.

In [41]:
(
    df
    .select([
        pl.col('passenger_count').eq(0).sum().alias('zero_passenger_count_sum'),
        pl.col('passenger_count').count().alias('zero_passenger_count'),
        ((pl.col('passenger_count').eq(0).sum() / pl.col('passenger_count').count()) * 100).alias('percentage_of_zero_cnt_passengers')
    ])
)

shape: (1, 3)
┌──────────────────────────┬──────────────────────┬─────────────────────────────────┐
│ zero_passenger_count_sum ┆ zero_passenger_count ┆ percentage_of_zero_cnt_passeng… │
│ ---                      ┆ ---                  ┆ ---                             │
│ u32                      ┆ u32                  ┆ f64                             │
╞══════════════════════════╪══════════════════════╪═════════════════════════════════╡
│ 47277                    ┆ 2837138              ┆ 1.666362                        │
└──────────────────────────┴──────────────────────┴─────────────────────────────────┘

# Filtering the passengers where passenger_count = 0

In [43]:
(
    df
    .filter(pl.col('passenger_count').gt(0)).
    select([
        'VendorID',
        'passenger_count'
    ])
)

shape: (2_789_861, 2)
┌──────────┬─────────────────┐
│ VendorID ┆ passenger_count │
│ ---      ┆ ---             │
│ i32      ┆ i64             │
╞══════════╪═════════════════╡
│ 1        ┆ 2               │
│ 2        ┆ 1               │
│ 2        ┆ 1               │
│ 2        ┆ 1               │
│ 1        ┆ 1               │
│ …        ┆ …               │
│ 2        ┆ 1               │
│ 2        ┆ 2               │
│ 2        ┆ 1               │
│ 2        ┆ 1               │
│ 2        ┆ 2               │
└──────────┴─────────────────┘

# Using Conditional Operators using **.filter()**
- & and |
- and_() & or_()

In [44]:
(
    df
    .filter(
        pl.col('passenger_count').gt(3) &
        pl.col('trip_distance').gt(100)
    )
)

shape: (1, 19)
┌──────────┬──────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ VendorID ┆ tpep_pickup_ ┆ tpep_dropoff ┆ passenger_co ┆ … ┆ improvement_ ┆ total_amount ┆ congestion_s ┆ Airport_fee │
│ ---      ┆ datetime     ┆ _datetime    ┆ unt          ┆   ┆ surcharge    ┆ ---          ┆ urcharge     ┆ ---         │
│ i32      ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ f64         │
│          ┆ datetime[ns] ┆ datetime[ns] ┆ i64          ┆   ┆ f64          ┆              ┆ f64          ┆             │
╞══════════╪══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 2        ┆ 2023-02-11   ┆ 2023-02-11   ┆ 4            ┆ … ┆ 1.0          ┆ 402.25       ┆ 0.0          ┆ 1.25        │
│          ┆ 00:00:54     ┆ 02:08:12     ┆              ┆   ┆              ┆              ┆              ┆             │
└──────────┴──────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [45]:
(
    df
    .filter(
        pl.col('passenger_count').gt(3) |
        pl.col('trip_distance').gt(100)
    )
    
)

shape: (115_024, 19)
┌──────────┬──────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ VendorID ┆ tpep_pickup_ ┆ tpep_dropoff ┆ passenger_co ┆ … ┆ improvement_ ┆ total_amount ┆ congestion_s ┆ Airport_fee │
│ ---      ┆ datetime     ┆ _datetime    ┆ unt          ┆   ┆ surcharge    ┆ ---          ┆ urcharge     ┆ ---         │
│ i32      ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ f64         │
│          ┆ datetime[ns] ┆ datetime[ns] ┆ i64          ┆   ┆ f64          ┆              ┆ f64          ┆             │
╞══════════╪══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 5            ┆ … ┆ 1.0          ┆ 15.25        ┆ 2.5          ┆ 0.0         │
│          ┆ 00:06:00     ┆ 00:10:31     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 5            ┆ … ┆ 1.0          ┆ 20.52        ┆ 2.5          ┆ 0.0         │
│          ┆ 00:31:02     ┆ 00:41:26     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 5            ┆ … ┆ 1.0          ┆ 12.2         ┆ 2.5          ┆ 0.0         │
│          ┆ 00:47:56     ┆ 00:53:02     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 4            ┆ … ┆ 1.0          ┆ 61.0         ┆ 0.0          ┆ 0.0         │
│          ┆ 00:03:51     ┆ 00:04:11     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 4            ┆ … ┆ 1.0          ┆ 17.1         ┆ 2.5          ┆ 0.0         │
│          ┆ 00:47:14     ┆ 00:57:18     ┆              ┆   ┆              ┆              ┆              ┆             │
│ …        ┆ …            ┆ …            ┆ …            ┆ … ┆ …            ┆ …            ┆ …            ┆ …           │
│ 2        ┆ 2023-02-25   ┆ 2023-02-25   ┆ null         ┆ … ┆ 1.0          ┆ 38.09        ┆ null         ┆ null        │
│          ┆ 12:02:00     ┆ 12:23:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-26   ┆ 2023-02-26   ┆ null         ┆ … ┆ 1.0          ┆ 20.5         ┆ null         ┆ null        │
│          ┆ 00:33:00     ┆ 00:42:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-27   ┆ 2023-02-27   ┆ null         ┆ … ┆ 1.0          ┆ 37.26        ┆ null         ┆ null        │
│          ┆ 20:04:00     ┆ 20:50:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-28   ┆ 2023-02-28   ┆ null         ┆ … ┆ 1.0          ┆ 29.48        ┆ null         ┆ null        │
│          ┆ 09:30:00     ┆ 09:42:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-28   ┆ 2023-02-28   ┆ null         ┆ … ┆ 1.0          ┆ 20.38        ┆ null         ┆ null        │
│          ┆ 13:44:00     ┆ 13:53:00     ┆              ┆   ┆              ┆              ┆              ┆             │
└──────────┴──────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [48]:
(
    df
    .filter(
        pl.col('passenger_count').gt(3) 
        .and_(pl.col('trip_distance').gt(100))
    )
)

shape: (1, 19)
┌──────────┬──────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ VendorID ┆ tpep_pickup_ ┆ tpep_dropoff ┆ passenger_co ┆ … ┆ improvement_ ┆ total_amount ┆ congestion_s ┆ Airport_fee │
│ ---      ┆ datetime     ┆ _datetime    ┆ unt          ┆   ┆ surcharge    ┆ ---          ┆ urcharge     ┆ ---         │
│ i32      ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ f64         │
│          ┆ datetime[ns] ┆ datetime[ns] ┆ i64          ┆   ┆ f64          ┆              ┆ f64          ┆             │
╞══════════╪══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 2        ┆ 2023-02-11   ┆ 2023-02-11   ┆ 4            ┆ … ┆ 1.0          ┆ 402.25       ┆ 0.0          ┆ 1.25        │
│          ┆ 00:00:54     ┆ 02:08:12     ┆              ┆   ┆              ┆              ┆              ┆             │
└──────────┴──────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

In [49]:
(
    df
    .filter(
        pl.col('passenger_count').gt(3) 
        .or_(pl.col('trip_distance').gt(100))
    )
)

shape: (115_024, 19)
┌──────────┬──────────────┬──────────────┬──────────────┬───┬──────────────┬──────────────┬──────────────┬─────────────┐
│ VendorID ┆ tpep_pickup_ ┆ tpep_dropoff ┆ passenger_co ┆ … ┆ improvement_ ┆ total_amount ┆ congestion_s ┆ Airport_fee │
│ ---      ┆ datetime     ┆ _datetime    ┆ unt          ┆   ┆ surcharge    ┆ ---          ┆ urcharge     ┆ ---         │
│ i32      ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---          ┆ f64          ┆ ---          ┆ f64         │
│          ┆ datetime[ns] ┆ datetime[ns] ┆ i64          ┆   ┆ f64          ┆              ┆ f64          ┆             │
╞══════════╪══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════════╡
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 5            ┆ … ┆ 1.0          ┆ 15.25        ┆ 2.5          ┆ 0.0         │
│          ┆ 00:06:00     ┆ 00:10:31     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 5            ┆ … ┆ 1.0          ┆ 20.52        ┆ 2.5          ┆ 0.0         │
│          ┆ 00:31:02     ┆ 00:41:26     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 5            ┆ … ┆ 1.0          ┆ 12.2         ┆ 2.5          ┆ 0.0         │
│          ┆ 00:47:56     ┆ 00:53:02     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 4            ┆ … ┆ 1.0          ┆ 61.0         ┆ 0.0          ┆ 0.0         │
│          ┆ 00:03:51     ┆ 00:04:11     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-01   ┆ 2023-02-01   ┆ 4            ┆ … ┆ 1.0          ┆ 17.1         ┆ 2.5          ┆ 0.0         │
│          ┆ 00:47:14     ┆ 00:57:18     ┆              ┆   ┆              ┆              ┆              ┆             │
│ …        ┆ …            ┆ …            ┆ …            ┆ … ┆ …            ┆ …            ┆ …            ┆ …           │
│ 2        ┆ 2023-02-25   ┆ 2023-02-25   ┆ null         ┆ … ┆ 1.0          ┆ 38.09        ┆ null         ┆ null        │
│          ┆ 12:02:00     ┆ 12:23:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-26   ┆ 2023-02-26   ┆ null         ┆ … ┆ 1.0          ┆ 20.5         ┆ null         ┆ null        │
│          ┆ 00:33:00     ┆ 00:42:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-27   ┆ 2023-02-27   ┆ null         ┆ … ┆ 1.0          ┆ 37.26        ┆ null         ┆ null        │
│          ┆ 20:04:00     ┆ 20:50:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-28   ┆ 2023-02-28   ┆ null         ┆ … ┆ 1.0          ┆ 29.48        ┆ null         ┆ null        │
│          ┆ 09:30:00     ┆ 09:42:00     ┆              ┆   ┆              ┆              ┆              ┆             │
│ 2        ┆ 2023-02-28   ┆ 2023-02-28   ┆ null         ┆ … ┆ 1.0          ┆ 20.38        ┆ null         ┆ null        │
│          ┆ 13:44:00     ┆ 13:53:00     ┆              ┆   ┆              ┆              ┆              ┆             │
└──────────┴──────────────┴──────────────┴──────────────┴───┴──────────────┴──────────────┴──────────────┴─────────────┘

# Query Statement - **sort()**

In [50]:
(
    df
    .select([
        'trip_distance',
        'fare_amount'
    ])
    .sort('trip_distance',descending=True)
)

shape: (2_913_955, 2)
┌───────────────┬─────────────┐
│ trip_distance ┆ fare_amount │
│ ---           ┆ ---         │
│ f64           ┆ f64         │
╞═══════════════╪═════════════╡
│ 335004.33     ┆ 17.75       │
│ 182444.33     ┆ 12.6        │
│ 143926.36     ┆ 105.99      │
│ 107564.66     ┆ 24.9        │
│ 97746.76      ┆ 19.95       │
│ …             ┆ …           │
│ 0.0           ┆ 6.83        │
│ 0.0           ┆ 13.64       │
│ 0.0           ┆ 9.76        │
│ 0.0           ┆ 16.52       │
│ 0.0           ┆ 16.93       │
└───────────────┴─────────────┘

# sort() + filter()

In [51]:
(
    df
    .filter(
        pl.col('trip_distance').gt(0)
    )
    .sort(
        'trip_distance',descending = True
    )
    .select([
        'trip_distance',
        'fare_amount'
    ])
)

shape: (2_872_857, 2)
┌───────────────┬─────────────┐
│ trip_distance ┆ fare_amount │
│ ---           ┆ ---         │
│ f64           ┆ f64         │
╞═══════════════╪═════════════╡
│ 335004.33     ┆ 17.75       │
│ 182444.33     ┆ 12.6        │
│ 143926.36     ┆ 105.99      │
│ 107564.66     ┆ 24.9        │
│ 97746.76      ┆ 19.95       │
│ …             ┆ …           │
│ 0.01          ┆ 14.21       │
│ 0.01          ┆ 12.9        │
│ 0.01          ┆ 22.78       │
│ 0.01          ┆ 33.33       │
│ 0.01          ┆ -23.63      │
└───────────────┴─────────────┘